* {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}
.App {
  background-image: url("https://img.wallpapersafari.com/desktop/1366/768/35/34/M4rnGX.jpg");
  height: 100vh;
  overflow-y: scroll;
}
